* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background: #2B3844;

}

.header-wrapper {
    padding: 24px 0;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.main-section {
    background: #202C36;

}

.card {
    width: 280px;
    text-align: center;
    color: #fff;
    background: #2B3844;


}

.germany {
    padding: 32px 0;
}

.main-wrapper {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


@media screen and (max-width: 1140px) {
    .main-wrapper {
        padding-top: 48px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
}